[submodule "BDCN"]
	path = BDCN
	url = https://github.com/Hiroaki-Masuzawa/BDCN.git
[submodule "im2rbte"]
	path = im2rbte
	url = https://github.com/NikosEfth/im2rbte.git
[submodule "hed"]
	path = hed
	url = https://github.com/Hiroaki-Masuzawa/pytorch-hed.git
